th {
    cursor: pointer;
    background-color: #f0f0f0;
}
th:hover {
    background-color: #dcdcdc;
}
.sortable:after {
    content: " \2193 \2191"; /* ícones de seta para cima e para baixo */
    font-size: smaller;
}
#modalNovaTransacao {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#modalNovaTransacao > div {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
